<div class="w-full">
  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl">List of books</h1>
    <%= link_to "New book", new_book_path, class: "btn-primary" %>
  </div>

  <div id="books" class="min-w-full">
    <div class="main-content container">
      <div class="books-list">
        <%= render @books %>
        </div>
      </div>
  </div>
</div>
