@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
  .btn-primary, .btn-gray, .btn-red {
    @apply rounded-full h-12 py-3 px-5 mt-3 mb-3 block font-medium mr-4;
  }

  .btn-primary {
    @apply bg-blue-600 text-white;
  }

  .btn-gray {
    @apply bg-gray-200 text-black;    
  }

  .btn-red {
    @apply bg-red-600 text-white;    
  }
  
  .block-form-text {
    @apply block rounded-md border border-gray-500 w-full;
  }
  
  .block-form-area {
    @apply block rounded-md border border-gray-500 w-full h-60;
  }
}

body{
  background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(books_library.jpeg); 
  background-attachment: fixed; 
  background-size: cover;
}  

main{
  padding-top: 70px;
}

h1{
  color: yellow;
}

.flash-notice, .flash-alert {
  font-style: italic;
  display: inline-block;       
  color: green;         
  background-color: white;
  border-radius: 0.5rem; 
}
.flash-alert {
  color: red; 
  font-style: italic;
}

.flash-notice {
  color: green;         
}

.truncate-lines {
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.container {
  max-width: 1000px;
  margin: 0 auto;

}

.header, .footer {
  position: fixed;
  z-index: 100;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(10px) brightness(1.2);
  color: yellow;
  font-size: large;
  padding: 5px ;
  text-align: center;
  font-weight: 500;
}

.header {
  height: 50px;
}

.footer {
  height: 30px;
  bottom: 0; 
}

.form{
  border: px solid yellow; 
  background-color: white;  
  padding: 10px;
}

.book-show{
  font-size: large;
}

.books-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
}

.book-item {
  display: flex;
  height: 300px;
  padding: 20px;
  background-image: url("book_cover.png");
  background-size: 100% 100%;
}

.book-item:hover {
  border: 3px solid black;   
}
 
.book-title{
  position: absolute;
  top: 50%;     
  left: 50%;    
  transform: translate(-50%, -50%); 
  font-weight: bold;
  font-style: italic;
  text-align: center;
  color: black;
}

.book-author{
  position: absolute;
  bottom: 10%;  
  left: 50%;    
  transform: translate(-50%, -50%);
  font-weight:normal;
  font-size:small;
  color: black;
}

.book-isbn{
  position: absolute;
  top: 10%;
  font-weight:200;
  font-size: small;
  color:black;
}
